﻿@model IEnumerable<WebBudget.Models.RecurringItem>

@{
    ViewData["Title"] = "Recurring Item List";
    Dictionary<int, Category> categories = ViewBag.Categories;
}

<h2>Recurring Item List</h2>

<p>
    <a asp-action="Create">Create New Recurring Item</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                Interval
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Category
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Exclude)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.StartDate.ToShortDateString()
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.IntervalName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @categories[item.CategoryId].Description
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Exclude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })

            </td>
        </tr>
        }
    </tbody>
</table>
