﻿@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.Configuration;

@{
    string UserIdKey = "WebPairs_UserId";
    string UserAdminKey = "WebPairs_Admin";

    int? userId = this.Context.Session.GetInt32(UserIdKey);

    bool isLoggedin = false;
    if (userId == null || userId <= 0)
    {
        isLoggedin = false;
    }
    else
    {
        isLoggedin = true;
    }

    string adminString = Context.Session.GetString(UserAdminKey);

    var displayVersion = Startup.DisplayVersion;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebBudget - @displayVersion</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="shortcut icon" href="~/images/favicon.ico" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">WebBudget - @displayVersion</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    @{ if (isLoggedin)
                        {
                            <li>
                                <a href="#" class="nav navbar-nav dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">
                                    Item
                                </a>
                                <ul class="dropdown-menu">
                                    <div>
                                        <a asp-area="" asp-controller="Item" asp-action="List">List</a>
                                    </div>

                                    <div>
                                        <a asp-area="" asp-controller="Item" asp-action="ListUnassigned">List Unassigned</a>
                                    </div>

                                    <div>
                                        <a asp-area="" asp-controller="Item" asp-action="ListDetail">List Details</a>
                                    </div>

                                    <div>
                                        <a asp-area="" asp-controller="Item" asp-action="Upload">Upload</a>
                                    </div>


                                    <div>
                                        <a asp-area="" asp-controller="Item" asp-action="Create">Create</a>
                                    </div>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="nav navbar-nav dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">
                                    Category
                                </a>
                                <ul class="dropdown-menu">
                                    <div>
                                        <a asp-area="" asp-controller="Category" asp-action="List">List</a>
                                    </div>
                                    <div>
                                        <a asp-area="" asp-controller="Category" asp-action="Create">Create</a>
                                    </div>

                                </ul>
                            </li>

                            <li>
                                <a href="#" class="nav navbar-nav dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">
                                    Assign

                                </a>
                                <ul class="dropdown-menu">
                                    <div>
                                        <a asp-area="" asp-controller="Assign" asp-action="List">List</a>
                                    </div>
                                    <div>
                                        <a asp-area="" asp-controller="Assign" asp-action="Create">Create</a>
                                    </div>
                                    <div>
                                        <a asp-area="" asp-controller="Item" asp-action="ApplyCategory">Apply to Items</a>
                                    </div>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="nav navbar-nav dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">
                                    Recurring Item
                                </a>
                                <ul class="dropdown-menu">

                                    <div>
                                        <a asp-area="" asp-controller="RecurringItem" asp-action="List">List</a>
                                    </div>
                                    <div>
                                        <a asp-area="" asp-controller="RecurringItem" asp-action="Create">Create</a>
                                    </div>

                                    <div>
                                        <a asp-area="" asp-controller="Item" asp-action="ApplyRecurring">Apply to Items</a>
                                    </div>
                                </ul>
                            </li>

                            <li>
                                <a href="#" class="nav navbar-nav dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">
                                    Pattern
                                </a>
                                <ul class="dropdown-menu">

                                    <div>
                                        <a asp-area="" asp-controller="Item" asp-action="ListPattern">List</a>
                                    </div>

                                </ul>
                            </li>

                        }

                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">


                    @{ if (isLoggedin)
                        {
                            <li><a asp-area="" asp-controller="Login" asp-action="Logout">Logout</a></li>
                        }
                        else
                        {
                            <li><a asp-area="" asp-controller="Login" asp-action="Login">Login</a></li>

                        }
                    }

                </ul>
            </div>




        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - @DateTime.Now.Year - Ordinary Skill, LLC</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
