﻿@model WebBudget.Models.Assign

@{
    ViewData["Title"] = "Edit";
    List<SelectListItem> categories = ViewBag.Categories;
}

<h2>Edit</h2>

<h4>Assign</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                @Html.DisplayFor(model => model.Id)
            </div>

            <div class="form-group">
                <label asp-for="KeyString" class="control-label"></label>
                <input asp-for="KeyString" class="form-control" />
                <span asp-validation-for="KeyString" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" asp-items="@categories" class="form-control">
                    <option>Please select one</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

