﻿@model IEnumerable<WebBudget.Models.Assign>

@{
    ViewData["Title"] = "List";
    Dictionary<int, Category> categories = ViewBag.Categories;
}

<h2>List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeyString)
            </th>
            <th>
                Category
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeyString)
            </td>
            <td>
                @categories[item.CategoryId].Description
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new {id=item.Id  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
