﻿@{
    ViewBag.Title = "About";

    string hostName = string.Empty;
    hostName = System.Environment.MachineName;
}

<h2>@ViewBag.Title</h2>
<div>
    Application to track budget.<br />
    John Fulton<br />
    Initial version: 9/29/2018<br />
</div>

<div><br /></div>

<div><br /></div>

<div>Bug reports, comments, questions, or suggestions to: <a href="mailto:john.fulton@ordindaryskill.org">john.fulton@ordinaryskill.org</a></div>
<div><br /></div>
@Html.ActionLink("Event Log", "List", "Log")
<div><br /></div>
<div>Running on server: @hostName</div>
