﻿@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<h4>Application to track budget.</h4>
    <br />
    <blockquote>

        Questions, Errors or Suggestions to <a href="mailto:john.fulton@ordinaryskill.org">john.fulton@ordinaryskill.org</a>
    </blockquote>
