﻿@model WebBudget.Models.Item

@{
    ViewData["Title"] = "Delete";
    Dictionary<int, Category> categories = ViewBag.Categories;
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd>
            @categories[Model.CategoryId].Description
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exclude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exclude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SourceName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SourceName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="List">Back to List</a>
    </form>
</div>