﻿@model IEnumerable<WebBudget.Models.Item>

@{
    ViewData["Title"] = "ListDetail";
    Dictionary<int, Category> categories = ViewBag.Categories;
}

<h2>ListDetail</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>

            <th>
                Category
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exclude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>

            <td>
                @categories[item.CategoryId].Description
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exclude)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SourceName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
