﻿@model IEnumerable<WebBudget.Models.Item>

@{
    ViewData["Title"] = "List";
    Dictionary<int, Category> categories = ViewBag.Categories;
    SearchByDate searchByDate = ViewBag.SearchByDate;
    DateTime startDate = searchByDate.StartDate;
    DateTime endDate = searchByDate.EndDate;

    int categoryTracker = 0;
    decimal typeSum = 0.0M;
    decimal total = 0.0M;
    decimal creditTotal = 0.0M;
    decimal debitTotal = 0.0M;
    decimal netTotal = 0.0M;
    decimal itemSum = 0.0M;
}

<h2>List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="ListByDate">
    <div class="container">

        <div class="row">
            <div class="col-sm-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Start Date</label>
                    <input type="date" name="startDate" class="form-control" value="@startDate.Date" />
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label">End Date</label>
                    <input type="date" name="endDate" class="form-control" value="@endDate.Date" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>

</form>

<div>
    <p>Showing items for dates from @startDate.ToShortDateString() to @endDate.ToShortDateString()</p>
    <p>Not showing excluded items</p>
</div>
<hr />
<hr />

<table class="table">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>

            <th>
                Category
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exclude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            if (categoryTracker != item.CategoryId)
            {
                <tr>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                categoryTracker = item.CategoryId;
            }
                <tr>
                    <td>
                        @item.Date.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>

                    <td>
                        @categories[item.CategoryId].Description
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Exclude)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.SourceName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                        @Html.ActionLink("Create Key", "CreateKey", "Assign", new { id = item.Id }, null)

                    </td>
                </tr>
            { itemSum += item.Amount; }

        }

        <tr>
            <td>Total</td>
            <td>@itemSum.ToString("C")</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
        </tr>

    </tbody>
</table>

@{ categoryTracker = 0;}

<table class="table">
    <thead>
        <tr>
            <td align="right"><strong>Category</strong></td>
            <td align="right"><strong>Category Id</strong></td>
            <td align="right"><strong>Amount</strong></td>
            <td align="right"><strong>Target</strong></td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            if (categoryTracker != item.CategoryId)
            {
                if (typeSum > 0)
                {
                    <tr>
                        @{ string sumToString = typeSum.ToString("C");}
                        <td align="right">@categories[categoryTracker].Description</td>
                        <td align="right">@categoryTracker</td>
                        <td align="right">@sumToString</td>
                        <td align="right">@categories[categoryTracker].Target.ToString("C")</td>

                    </tr>
                }

                categoryTracker = item.CategoryId;
                typeSum = 0;
            }
            typeSum += item.Amount;
            total += item.Amount;

            // if this is a debit
            if (categories[item.CategoryId].IsDebit)
            {
                netTotal += item.Amount;
                debitTotal += item.Amount;
            }
            else
            {
                netTotal -= item.Amount;
                creditTotal += item.Amount;
            }
        }

        <!-- last category-->
        @{if (typeSum > 0)
            {
                <tr>
                    @{ string sumToString2 = typeSum.ToString("C");}
                    <td align="right">@categories[categoryTracker].Description</td>
                    <td align="right">@categoryTracker</td>
                    <td align="right">@sumToString2</td>
                    <td align="right">@categories[categoryTracker].Target.ToString("C")</td>

                </tr>
            }
        }

        <tr>
            <td align="right">--------</td>
            <td align="right">--------</td>
            <td align="right">--------</td>
        </tr>

        <tr>
            @{ string totalToString = total.ToString("C");}
            <td align="right">Total of Items</td>
            <td align="right">@totalToString</td>
            <td align="right"> </td>
        </tr>
        <tr>
            @{ string creditTotalToString = creditTotal.ToString("C");}
            <td align="right">Credit Total</td>
            <td align="right">@creditTotalToString</td>
            <td align="right"> </td>
        </tr>
        <tr>
            @{ string debitTotalToString = debitTotal.ToString("C");}
            <td align="right">Debit Total</td>
            <td align="right">@debitTotalToString</td>
            <td align="right"> </td>
        </tr>
        <tr>
            @{ string netTotalToString = netTotal.ToString("C");}
            <td align="right">Net Total</td>
            <td align="right">@netTotalToString</td>
            <td align="right"> </td>
        </tr>


    </tbody>

</table>
