﻿@model IEnumerable<WebBudget.Models.Pattern>

@{
    ViewData["Title"] = "ListPattern";
    Dictionary<int, Category> categories = ViewBag.Categories;
    List<DateTime> monthList = ViewBag.MonthList;
}

<h2>Income and Expense Pattern</h2>

<div class="container">
    <div class="row">

        @{ foreach (DateTime month in monthList)
            {
                <div class="col-sm-4">
                    <strong>@month.ToString("MMMM")</strong>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Catagory
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Amount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsDebit)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.Month == month)
                                {
                                    string amount = item.Amount.ToString("C");
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => categories[item.CategoryId].Description)
                                        </td>

                                        <td>
                                            @amount
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsDebit)
                                        </td>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }
        }
    </div>
</div>


