﻿@model IEnumerable<WebBudget.Models.Item>

    @{
        ViewData["Title"] = "List";
        Dictionary<int, Category> categories = ViewBag.Categories;
    }

    <h2>List Unassigned</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div>
        <p>Showing unassigned items</p>
    </div>
    <hr />
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Note)
                </th>

                <th>
                    Category
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Exclude)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Source)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>

                <td>
                    @categories[item.CategoryId].Description
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Exclude)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.SourceName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                    @Html.ActionLink("Create Key", "CreateKey", "Assign", new { id = item.Id }, null)

                </td>
            </tr>
            }
        </tbody>
    </table>
