﻿@{
    ViewData["Title"] = "Upload Items";
    List<SelectListItem> sources = ViewBag.SourceList as List<SelectListItem>;
}

<h2>Upload Items</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Upload", "Item", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                <div class="form-group">
                    @Html.TextBox("file", "", new { type = "file" }) <br />
                </div>
                <div class="form-group">
                    <select name="sourceId">
                        @{ foreach (var item in sources)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }

                    </select>
                </div>
                <input type="submit" value="Upload" />
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


